:root {
    --my-padding: 0.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-family:Verdana, sans-serif;
}

.container {
    color: #fff;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
    "header menu menu menu"
    "hero hero hero hero"
    "main main image image"
    "main main extra extra"
    "banner banner banner banner"
    ;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;

}

.header {
    background-color: rgb(185, 185, 185);
    grid-area: header;
    padding: var(--my-padding);
    display: grid;
    align-items: center;
}

.menu {
    background-color: rgb(159, 159, 159);
    grid-area: menu;
    padding: var(--my-padding);
    display: grid;
    align-items: center;
}

.hero {
    background-color: rgb(85, 85, 85);
    grid-area: hero;
    padding: var(--my-padding);
    display: grid;
    align-items: center;
}

.main {
    background-color: rgb(48, 48, 48);
    grid-area: main;
    padding: var(--my-padding);
    display: grid;
    align-items: center;
}

.image {
    background-color: rgb(105, 105, 105);
    grid-area: image;
    padding: var(--my-padding);
    display: grid;
    align-items: center;
}

.extra {
    background-color: rgb(147, 147, 147);
    grid-area: extra;
    padding: var(--my-padding);
    display: grid;
    align-items: center;
}

.banner {
    background-color: rgb(39, 39, 39);
    grid-area: banner;
    padding: var(--my-padding);
    display: grid;
    align-items: center;
}

@media (max-width: 1024px) {  
    .container{
        grid-template-columns: 1fr 1fr 0.75fr;
        grid-template-rows: 0.3fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
        "header header header"
        "hero hero hero"
        "menu main main"
        "menu banner banner"
        "menu extra image"
        ;
    }
    .sidebar{
        display:none;
    }
}

@media (max-width: 480px) {
    .container{
        gap:0;
        padding:0;
        grid-template-columns: 1fr;
        grid-template-rows: 0.75fr 1fr 1fr 2fr 1fr 1fr 1fr;
        grid-template-areas:
        "header"
        "menu"
        "hero"
        "main"
        "banner"
        "extra"
        "image"
        ;
    }
}